@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  width: 980px;
  border-radius: 30px;
  padding: 30px;
}

.signup-info {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #252641;
  margin-bottom: 40px;
}

p {
  width: 80%;
}

p,
ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul li {
  list-style: none;
  text-align: left;
  width: 100%;
  display: flex;
  gap: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
button {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

label {
  color: #252641;
  margin-left: 5px;
  margin-top: 30px;
}

.err-message {
  text-align: right;
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.error-message {
  border: solid 1px red;
}

input,
button {
  height: 60px;
  width: 450px;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #b6b6ba;
}

button {
  font-size: 16px;
  color: white;
  background-color: #232742;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.sign-up-illustration {
  margin-left: 40px;
}

button:hover {
  background: -webkit-linear-gradient(to right, #ea2675, #f27121);
  background: linear-gradient(to right, #ea2675, #f27121);
}

input:hover {
  cursor: pointer;
  border: 1px solid black;
}

input:hover::placeholder {
  color: black;
}
